.3T
.CFUserTextEncoding
.DS_Store
.Genymobile
.NERDTreeBookmarks
.Seagate/
.Spotlight-V100
.Trash
.Xauthority
.acdbackup
.android
.apiconnect/
.array_vpn
.atom
.aws
.azure/
.babel.json
.bash_env
.bash_history
.bash_profile.backup
.bash_sessions
.bluemix
.bundle/
.bzr.log
.cache
.ccache/
.cf
.cocoapods
.code-push*
.composer
.config
.cordova
.cups
.dbshell
.docker
.electron/
.emulator*
.fastlane/
.flow-typed
.forever/
.fseventsd
.gem
.gnupg
.gradle
.gvm
.hex
.hyper_plugins/
.ice
.iterm2*
.itmstransporter/
.jsipfs/
.jspm
.kube
.lein/
.lesshst
.lldb/
.local
.localized
.m2/
.mailcap
.meteor
.meteor/
.minio/
.mix*
.mjolnir/
.mongorc.js
.node-gyp
.node_repl_history
.npm
.npmrc
.nvm*
.oh-my-zsh
.openshift/
.oracle_jre_usage
.plugman
.pm2
.ports.json
.putty/
.pyenv
.pyenvrc
.python-version
.python_history
.rclone.conf
.rediscli_history
.rncache/
.rnd
.rndebugger_port
.rvm
.rvmrc
.s3cfg*
.secrets
.sh_history
.dat/
.nexe/
.nodenv/
.pkg-cache/
.vpython-root
.wine
.zoomus
.rndebuggerrc
.vault-token
.zoomus/
.sqlite_history
.ssh
.standard-cache/
.subversion
.swt
.usage-stats/
.v8flags*
.vagrant.d
.vim*
.vscode
.vscode*
.wapi*
.wget-hsts
.wskprops
.dotnet
.yubikey
.yarn*
.z
.z.[0-9]*
.zcompdump*
.zprezto/
.zpreztorc
.zsh-update
.zsh_history
.zshrc.backup
.bosh_config
.distcc
.electron-gyp
.mc
.ngrok2
.rncache
.bosh
.bosh_virtualbox_cpi
.ccache
.ngrok
.IdentityService/
.ServiceHub/
.bitmonero
.electrum/
.ethash
.mono/
.swfinfo
ALEX
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox*
azure-cli/
archive
fuse
mac-cli
oracle-instant-client/
ownCloud
share
src
tmp
work/
zlaptop.vncloc
private
.electron
.gsutil/
.nvs/
.tahoe
.vpython-root/
.vpython_cipd_cache/
.wine/
tahoe
.passwd-s3fs
