.3T
.CFUserTextEncoding
.DS_Store
.Genymobile
.Spotlight-V100
.Trash
.android
.array_vpn
.atom
.aws
.babel.json
.bash_env
.bash_history
.bash_sessions
.bluemix
.bzr.log
.cache
.cf
.cocoapods
.code-push*
.config
.cordova
.composer
.cups
.docker
.emulator*
.fseventsd
.gem
.gnupg
.gradle
.gvm
.ice
.jspm
.lesshst
.local
.localized
.node-gyp
.node_repl_history
.npm
.npmrc
.nvm*
.oh-my-zsh
.oracle_jre_usage
.plugman
.ports.json
.pyenv
.pyenvrc
.python-version
.rclone.conf
.rnd
.rvm
.rvmrc
.s3cfg*
.secrets
.ssh
.subversion
.swt
.v8flags*
.vagrant.d
.vim*
.vscode
.wapi*
.wget-hsts
.wskprops
.yarn*
.hex
.iterm2*
.mix*
.sh_history
.azure
.bash_profile.backup
.bundle
.lein
.m2
.rncache
.vscode*
.acdbackup
.apiconnect/
.hyper_plugins/
.meteor/
.standard-cache/
.zcompdump*
.zsh-update
.zsh_history
.lldb/
.mailcap
.meteor
.mjolnir/
.z.[0-9]*
.z
.Seagate/
.Xauthority
.dbshell
.mongorc.js
.python_history
.electron/
.forever/
.openshift/
.rediscli_history
.rndebugger_port
.usage-stats/
.zprezto/
.zpreztorc
fuse
mac-cli
ALEX
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox*
ownCloud
share
src
tmp
work/
oracle-instant-client/
private/*z
private/*t
private/*r
azure-cli
